
<ion-content no-bounce>

  <!-- Male -->
  <ion-slides *ngIf="male" direction="vertical" loop="true" pager style="width:100%;height:100%;">
    
    <!-- Slide 1 -->
    <!-- #FDD835 -->
    <ion-slide style="background-color: #EEEEEE">
      <h5>HEART ATTACK SYMPTOMS IN MEN</h5>
      <p id="para">In general, the three most commonly reported symptoms when men have a heart attack are:</p>
        <div id="ul-li-center">
            <ul>
                <li>Chest Pain</li>
                <li>Chest Discomfort</li>
                <li>Chest Pressure</li>
              </ul>
        </div>
        
    </ion-slide>

    <!-- Slide 2 -->
    <ion-slide style="background-color: #EEEEEE">
      <p id="para">Some chest symptoms almost invariably accompany a heart attack, but everyone experiences it a little bit differently. Describing it as pain or pressure or tightness or burning or any of those symptoms are probably all reflecting each individual’s perception of the same thing.</p>
      <p id="para">Chest pain or discomfort can come on fast or slow. Symptoms can come and go or last for more than a few minutes, also men reported more severe chest pain than women.</p>
    </ion-slide>

    <!-- Slide 3 -->
    <ion-slide style="background-color: #EEEEEE">
      <p id="para">10 percent of men experience no chest pain at all. And diabetics can have heart attacks without feeling pain. It’s also possible to experience a cluster of other symptoms. While less common than chest pain, these can include:</p>
        <ul>
          <li>
            Discomfort or pain in other areas, such as one or both arms, the neck, jaw, back, or stomach
          </li>
          <li>
            Shortness of breath, nausea, lightheadedness, or sweating
          </li>
          <li>
            Abdominal discomfort that may feel like heartburn
          </li>
        </ul>
    </ion-slide>
  </ion-slides>

  <!-- ============================================================================================================================================================================== -->
 
  <!-- Female -->
  <ion-slides *ngIf="female" direction="vertical" loop="true" pager style="width:100%;height:100%;">
    
    <!-- Slide 1 -->
    <ion-slide style="background-color: #FDD835">
      <h5>HEART ATTACK</h5>
      <p id="para">
          A Heart Attack occurs when the blood flow that brings oxygen to the heart muscle is severely reduced or stopped. This happens because coronary arteries that supply the heart with blood can slowly become thicker and harder from a buildup of fat, cholesterol and other substances, called plaque. This slow process is known as atherosclerosis. If the plaque breaks open and a blood clot forms that blocks the blood flow, a heart attack occurs.
      </p>  
      
    </ion-slide>
    
    <!-- Slide 2 -->
    <ion-slide style="background-color: #F4511E">
      <h5>HEART ATTACK SYMPTOMS IN WOMEN</h5>
      <ul>
        <li>
            Uncomfortable pressure, squeezing, fullness or pain in the center of your chest. It lasts more than a few minutes, or goes away and comes back.
        </li>
        <li>
            Pain or discomfort in one or both arms, the back, neck, jaw or stomach.
        </li>
        <li>
            Shortness of breath with or without chest discomfort.
        </li>
        <li>
            Other signs such as breaking out in a cold sweat, nausea or lightheadedness.
        </li>
        <li>
            As with men, women’s most common heart attack symptom is chest pain or discomfort. But women are somewhat more likely than men to experience some of the other common symptoms, particularly shortness of breath, nausea/vomiting and back or jaw pain.
        </li>
      </ul>
    </ion-slide>
    
    <!-- Slide 3 -->
    <ion-slide style="background-color: #448AFF">
        <p id="para">
            Although men and women can experience chest pressure that feels like an elephant sitting across the chest, women can experience a heart attack without chest pressure.
        </p>
        <p id="para">
            Instead they may experience shortness of breath, pressure or pain in the lower chest or upper abdomen, dizziness, fainting or lightheadedness, upper back pressure or extreme fatigue.
        </p>
    </ion-slide>
  </ion-slides>
</ion-content>
