page-alert {
    .scroll-content {
		align-content: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
        text-align: center;
	}
    .content-bg {
        // background-color: #FDD835;
        background-color: #EEEEEE;
    }
    #btn{
        border-radius: 8px;
    }
    
    
}
