ion-app._gmaps_cdv_ .nav-decor{
    background-color: transparent !important;
  }
page-view-location {
    #bgColor {
        background-color: #EEEEEE;
    }
    ion-list-header {
        text-align: center;
        border-radius: 8px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    #map {
        height: 100%;
    }
}
