page-setting {
    #bgColor {
        // background-color: #CFD8DC;
        background-color: #EEEEEE;
    }
    .item {
        border-radius: 5px;
    }
    #dp {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        width: 190px;
		height: 190px;
		border:2px solid #fff;
		-moz-box-shadow: 0px 6px 5px #ccc;
		-webkit-box-shadow: 0px 6px 5px #ccc;
		box-shadow: 0px 6px 5px #ccc;
		-moz-border-radius:190px;
		-webkit-border-radius:190px;
		border-radius:190px;
    }
    ion-list-header{
        text-align: center;
    }
}
